# Masukkan Token dari @BotFather
BOT_TOKEN=1234567890:AAH...

# Masukkan ID Telegram Admin (Bisa lebih dari 1, pisahkan dengan koma)
ADMIN_IDS=123456789,987654321

# Lokasi Database (Opsional, default data/store.db)
DB_PATH=data/store.db
